$actions-value-padding: 8;
$actions-value-height: 30;

$actions-full-height: $actions-value-height + $actions-value-padding + px;
$actions-padding: $actions-value-padding + px;
section {
  padding: $actions-full-height 12px 0;
  position: relative;
  border: 1px solid black;
}
.actions {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  left: 0;
  height: $actions-full-height;
  padding: $actions-padding 6px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  justify-content: space-around;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding-bottom: 12px;
}
.form-input {
  margin-top: 5px;
}
.input-disclaimer {
  font-size: 11px;
}
.invlalid-input {
  border: 1px solid red;
}
.btn {
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 4px 2px;
}
.reset-button {
    background-color: red;
}
.add-button {
    background-color: blue;
}
.submit-button {
    background-color: green;
}
.btn:disabled {
    opacity: 0.5;
}