* {
    margin: 0;
    padding: 0; 
}
section {
    border: 1px solid black;
    padding: 12px;
    position: relative;
    padding-bottom: 30px;
}
h5 {
    margin-bottom: 10px;
}
p {
    margin-bottom: 10px;
}
.actions {
    position: absolute;
    height: 30px;
    border-top: 1px solid black;
    bottom: 0;
    width: 100%;
    left: 0;
    display: flex;
    align-items: center;
    padding: 0 12px;
    box-sizing: border-box;
}